// Colors

@white: #FFFFFF;
@mgreen: #2D914C;
@dgreen: #196D4C;
@lgreen: rgba(173, 207, 177, .5);
@black: #0F2D2F;
@orange: #E2A26A;
@brown: #A08A6C;

// Color assignments



// Escaped Values

@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 768px)";
@desktop: ~"(max-width: 1000px)";
@extralarge: ~"(min-width: 1001px)";